.tickedBackground {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient(
      45deg,
      #444cf7 25%,
      transparent 25%,
      transparent 75%,
      #444cf7 75%,
      #444cf7
    ),
    repeating-linear-gradient(
      45deg,
      #444cf7 25%,
      #e5e5f7 25%,
      #e5e5f7 75%,
      #444cf7 75%,
      #444cf7
    );
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.spottedBackground {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.9px, #e5e5f7 0.9px);
  background-size: 18px 18px;
}

.solidBackground {
  background-color: #e5e5f7;
}
