.galleryContainer {
  display: flex;
  flex-direction: column;

  padding: 5em;
}

.imageContainer {
  overflow: hidden;
  margin: 1em 0;
  width: 13rem;
  height: 15rem;
  min-width: 15rem;
  min-height: 15rem;
  border-radius: 5rem;

  box-shadow: 20px 20px 60px #a8a8a8, -20px -20px 60px #ffffff;
  img {
    max-width: 25rem;
    max-height: 25rem;
    aspect-ratio: auto;
  }
}

.imageFallback {
  margin: 1em 0;
  width: 13rem;
  height: 15rem;
  background-color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
}
